mixin nav-item(href, text, hasDropdown=false)
  li.main-nav__item(class=hasDropdown ? "has-dropdown" : "")
    a.main-nav__link(
      href=href,
      class=hasDropdown ? "main-nav__link--dropdown" : "",
      aria-expanded=hasDropdown ? "false" : null
    )
      span.main-nav__item-text= text
      if hasDropdown
        +icon("icon_drop", 9, 9).main-nav__icon
    if block && hasDropdown
      ul.main-nav__inner-list
        block

mixin main-nav()
  nav.main-nav(aria-label="Основное меню")
    button.main-nav__btn-menu(
      type="button",
      aria-label="Показать/скрыть меню",
      aria-expanded="false",
      aria-controls="main-nav-list"
    )
      +icon("icon_burger", 22, 14)
    ul.main-nav__list#main-nav-list
      +nav-item("/", "Главная")
      +nav-item("#", "Основное меню", true)
        +nav-item("#", "Заказать вёрстку")
        +nav-item("#", "Отправить макет на проверку")
        +nav-item("#", "Хочу работать у вас")
        +nav-item("#", "Есть предложение по работе с клиентами", true)
          +nav-item("#", "У меня есть оффер")
          +nav-item("#", "Сделать партнёром")
      +nav-item("#", "Наши сервисы")
      +nav-item("tel:+123456789", "Контакты").main-nav__phone-link
        +icon("icon_phone", 16, 16).main-nav__phone-icon
